<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Tele Severino{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}?v=subtitulo-topo-1">
</head>
<body class="{% block body_class %}{% endblock %}">
  {% block content %}{% endblock %}
  <script src="{{ url_for('static', path='/script.js') }}?v=subtitulo-topo-1"></script>
</body>
</html>
