SECRET_KEY=trocar-essa-chave

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=usuario
MYSQL_PASSWORD=senha
MYSQL_DATABASE=tele_severino

MYSQL_DATABASE_URL=mysql://usuario:senha@localhost:3306/tele_severino
